.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.hero-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/homepageImage.jpg),;
  background-size: cover;
  // z-index: -1;
}

.hero-content-area {
  // opacity: 0;
  opacity: 1;
  margin: 200px auto 0 auto;
  border: 2px solid rgb(54, 54, 54);
  height: 40%;
  width: 60%;
  background-color: rgb(54, 54, 54);
  // animation: 1s fadeout 1.5s forwards;
}

.hero-button-area {
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
  flex-direction: column;
  // margin: 0 auto;
  justify-content: space-between;
}

.homepage-button {
  display: flex;


}

@keyframes fadeout {
  100% {
    opacity: 0.9;
  }
}

h1, h2 {
  opacity: 1;
  color: white;
  font-size: 30px;
}

@media (min-width: 1400px) {
  .hero-content-area {
    width: 40%;
  }
}